<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
    <script>
        function createClient() {
            const clientName = document.getElementById('clientNameTextBox').value;
            const clientAddress = document.getElementById('clientAddressTextBox').value;
            const clientPhone = document.getElementById('clientPhoneTextBox').value;
            var client = {
                name: clientName,
                address: clientAddress,
                phones: [{number : clientPhone}]
            };

            fetch('api/clients', {
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(client)
            });
        }

         function getAllClients() {
            fetch('api/clients')
                .then(response => response.json())
                .then(clients => clientsDataContainer.innerHTML = JSON.stringify(clients,null,4));
        }
    </script>
</head>

<body>
    <h4>Создать пользователя</h4>
    <label>Имя <br/>
        <input type="text" id = "clientNameTextBox" placeholder="Введите имя клиента">
    </label>
    <br/>
    <label>Адрес <br/>
        <input type="text" id = "clientAddressTextBox" placeholder="Введите адрес клиента">
    </label>
    <br/>
    <label>Телефон <br/>
        <input type="text" id = "clientPhoneTextBox" placeholder="Введите телефон клиента">
    </label>
    <br/>
    <button onclick="createClient()">Создать</button>

    <h4>Клиенты</h4>
    <button onclick="getAllClients()">Получить всех клиентов</button>
    <pre id="clientsDataContainer"></pre>
</body>
</html>
